<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New tab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='tiles/clockTile.js') }}"></script>
</head>
<body>
    <background-image></background-image>
    <dashboard-wrapper></dashboard-wrapper>
</body>
</html>